.root { /* selector */
    -fx-background-color: #222222 /* linear-gradient(to bottom right, #ff0000, #222222); /* style rules */
}
.label {
    -fx-text-fill: #ffffff;
}
.button{
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Oswald", sans-serif;
}

#registerLink{
    -fx-text-fill: white;

}